@page "/admin/updateLevel/{Id:int}"
@inject ILevelRepository levelRepository
@inject IJSRuntime JsRuntime
@inject NavigationManager navigationManager

@attribute [Authorize(Roles = "admin")]


<h3 class="text-center mt-4">Update Level</h3>

<div class="container mb-5 mt-2 ">
    <div class="card shadow-lg ">


        <div class="card-header fs-4 fw-bold">

            Edit Level
        </div>


        <div class="card-body">


            <EditForm Model="level" OnValidSubmit="OnSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="mb-3 ">
                    <label for="Name" class="form-label">Name</label>
                    <InputText @bind-Value="level.Name" type="text" class="form-control" id="Name" placeholder="Level name"></InputText>
                    <ValidationMessage class="text-danger form-text" For="() => level.Name"></ValidationMessage>
                </div>


              

                <button type="submit" class="btn btn-info text-white py-2 form-control fw-bold fs-5 my-1">Update Level</button>
            </EditForm>

        </div>



    </div>


</div>


@code {
    private FormLevelDTO level = new FormLevelDTO();
    [Parameter]
    public int Id { get; set; }


    protected async override Task OnInitializedAsync()
    {
        level = await levelRepository.GetLevel(Id);
    }

    private async Task OnSubmit()
    {

        var isUpdated = await levelRepository.UpdateLevel(level);
        if (isUpdated)
        {
            await JsRuntime.InvokeVoidAsync("showToastr", "success", "Duracion actualizada Correctamente");

            navigationManager.NavigateTo("/admin/Levels");

        }
        else
        {
            await JsRuntime.InvokeVoidAsync("showToastr", "error", "Favor llenar los campos correctamente y no duplicar datos");
        }


    }


}