@page "/admin/updateDuration/{Id:int}"


@inject IDurationRepository durationRepository
@inject IJSRuntime JsRuntime
@inject NavigationManager navigationManager


@attribute [Authorize(Roles = "admin")]

<h3 class="text-center mt-4">Update Duration</h3>

<div class="container mb-5 mt-2 ">
    <div class="card shadow-lg ">


        <div class="card-header fs-4 fw-bold">

            Edit Duration
        </div>


        <div class="card-body">


            <EditForm Model="duration" OnValidSubmit="OnSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="mb-3 ">
                    <label for="Name" class="form-label">Name</label>
                    <InputText @bind-Value="duration.Name" type="text" class="form-control" id="Name" placeholder="Duration name"></InputText>
                    <ValidationMessage class="text-danger form-text" For="() => duration.Name"></ValidationMessage>
                </div>


              

                <button type="submit" class="btn btn-info text-white py-2 form-control fw-bold fs-5 my-1">Update Duration</button>
            </EditForm>

        </div>



    </div>


</div>


@code {
    private FormDurationDTO duration = new FormDurationDTO();
    [Parameter]
    public int Id { get; set; }


    protected async override Task OnInitializedAsync()
    {
        duration = await durationRepository.GetDuration(Id);
    }

    private async Task OnSubmit()
    {

        var isUpdated = await durationRepository.UpdateDuration(duration);
        if (isUpdated)
        {
            await JsRuntime.InvokeVoidAsync("showToastr", "success", "Duracion actualizada Correctamente");

            navigationManager.NavigateTo("/admin/durations");

        }
        else
        {
            await JsRuntime.InvokeVoidAsync("showToastr", "error", "Favor llenar los campos correctamente y no duplicar datos");
        }


    }


}