
<div class="bg-dark text-white pt-3">


    <div class="row  text-start container mx-auto">
        <div class="col">
            <div>
                <img src="/assets/logo.png" width="25" />
                <span class="fw-bold">CodeStream</span>
            </div>

            <ul>
                <li>Calle F #12 Alma Rosa 1</li>
                <li>+1809-614-4753</li>
                <li>CodeStream@gmail.com</li>
            </ul>
        </div>

        <div class="col ">
            <h10 class="fw-bold">Servicios</h10>
            <ul>
                <li>Curso en linea</li>
                <li>Mentoria y tutoria</li>
                <li>Plataforma de aprendisaje interactivo</li>
                <li>Evaluciones y certificacion</li>
            </ul>
        </div>

        <div class="col">
            <h10 class="fw-bold">Compañia</h10>
            <ul>
                <li>About us</li>

            </ul>
        </div>

    </div>

</div>

@code {

}
