@inherits LayoutComponentBase

<PageTitle>CodeStream</PageTitle>

<div class="page-container">
    <nav  >
        <NavMenu />
    </nav>

    <main>
      

        <article>
            @Body
        </article>
    </main>

    <footer class="mt-auto">
        <_Footer/>
    </footer>
</div>
